/* ---commons-- */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    font-family: 'Roboto', sans-serif;
    /* background-color: #212324; */
}

.border{
 border:1px solid #94e21a;
}

.green{
    color: #4bc800;
}
.color-blue{
    color:#2ebaff;
}

.pos-rel{
    position:relative;
}

/* ---header----  */
i{
  color: #dcdcdc;
}

header{
    display: flex;
    width: 100%;
    height: 50px;
    background-color:#010101 ;
    justify-content: flex-end;
    align-items: center;
}

.top-left{
    /* width:8%; */
    display: flex;
    align-items: center;
    background-color: #3a3a3a;
    margin-right: 8px;
    justify-content: space-evenly;
    padding: 8px 5px;
    border-radius: 5px;
    font-size: 20px;
}

.top-right{
    display: flex;
    align-items: center;
    background-color: #3a3a3a;
    margin-right: 20px;
    padding: 8px 8px;
    border-radius: 5px;
    font-size: 20px;

}

.speaker-view{
    display: flex;
    height: 100%;
    align-items: center;
}

header .icon{
    background-color: #3a3a3a;
}

.speaker-view h4{
    font-weight: 600;
    padding: 0px 10px;
    color:#dcdcdc;
}



/* -----main ------ */
main{
    display: flex;
    background-color: #010101;
    width: 100%;
    height: calc(100vh - 78px);
    justify-content: center;
    padding-bottom: 60px;
}

.left-arrow{
    display: flex;
    width: 5%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.right-arrow{
    width: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.right-arrow i,
.left-arrow i{
    font-size: 70px;
}


.numero{
    color: white;
}

/* video call section  */
.main-pic{
    display: flex;
    flex-wrap: wrap;
    width: 85%;
    height: 100%;
    overflow-y: auto;
    margin: 15px;
    padding-bottom: 10px;
}

.box-pic{
    display: flex;
    position: relative;
    width:calc(100% / 5);
    /* height: calc(100% / 5); */
}

.box-pic img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0px -30px;
}
.icon-pic{
    display: flex;
    position:absolute;
    bottom: 35px;px;
    left:5px;
    color:#dcdcdc ;
    background-color:#010101a8 ;
    font-size: 20px;
    padding:0px 5px;
}

.name{
    max-width: 80%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
/* ///video call section  */




/* ------footer ------- */
footer{
    /* position:fixed;
    bottom:0; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #212324;
    width: 100%;
    height: 100%;
}
footer i{
    font-size: 30px;
    padding-bottom: 5px;
}

footer .text{
    color:#dcdcdc;
}

.arrow-up i{
    font-size: 15px;
}

.main-footer, .camera, .mic-footer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bottom-left, .bottom-center, .bottom-right{
    display: flex;
    /* height: 100%; */
    align-items: center;
    font-size: 15px;
    height: 80px;
}

.bottom-left{
    width: 15%;
    justify-content: space-around;
    align-items: center;
}

.bottom-center{
    width: 60%;
    justify-content: space-around;
}

.icons-center{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bottom-right{
    height: 100%;
    background-color:#4b4c4f ;
}

.bottom-right a{
    text-decoration: none;
    color: #ec534b;
    padding: 50px 20px;
    font-size: 20px;
}

.bottom-right:hover{
    opacity: 0.5;
    scale:0.58;
}

.top-number{
position: absolute;
color:#dcdcdc ;
top:-5px;
right: -20px;
font-weight: 600;
}

.arrow-btm{
position: absolute;
color:#dcdcdc ;
bottom:-5px;
right: -10px;
font-weight: 600;
}

.arrow-btm i{
    font-size: 15px;
}


.main-pic{
    overflow: hidden;
}

.main-pic:hover{
    overflow: auto;
}

::-webkit-scrollbar {
    width: 15px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
    
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

  




/* ---------debug----------- */

/* .debug header{
    background-color:lightgray;
} */
/* 
.debug main{
    background-color: #010101;
} */

/* .debug footer{
    background-color: lightgray;
} */
/* 
.debug .bottom-left{
    background-color: green;
}

.debug .bottom-center{
    background-color: yellow;
}

.debug .bottom-right{
    background-color: red;
}
 */


/* .debug .box-pic{
    background-color: steelblue;
    border: 1px solid black;
} */

/* .debug .dots{
    background-color:salmon;
}

.debug .user{
    background-color: yellow;
} */

